<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--basePackage 测试-->
    <bean class="com.dade.bin.mybin.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dade.bin.test"/>
    </bean>

    <!--单个接口测试-->
    <!--<bean class="com.dade.bin.mybin.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="com.dade.bin.test.BINTestInterface"/>-->
    <!--</bean>-->


</beans>